<form (submit)="onSubmit()">
  <h2>Add User</h2>
  <div class="form-group">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" [(ngModel)]="user.name" required />
  </div>
  <div class="form-group">
    <label for="role">Role:</label>
    <input type="text" id="role" name="role" [(ngModel)]="user.role" required />
  </div>
  <div class="form-group">
    <label for="email">Email:</label>
    <input
      type="email"
      id="email"
      name="email"
      [(ngModel)]="user.email"
      required
    />
  </div>
  <button type="submit">Add User</button>
</form>

<div mat-dialog-title>User Form</div>
<div mat-dialog-content>
  <mat-form-field appearance="outline">
    <mat-label>Input</mat-label>
    <input matInput />
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-raised-button>Cancel</button>
  <button mat-raised-button color="primary">Save</button>
</div>
